/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */
 //변수선언
$small-button-bgcolor:#ffffff;
$small-button-border-color:#bdc1ca;
$medium-button-border-color:#bdc1ca;
$medium-button-bgcolor:#e4e4e4;
$large-button-border-color:#bdc1ca;
$large-button-bgcolor:#ffffff;



// small button 
.x-btn-default-toolbar-small{
	border-radius :0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	top: 0px !important; 
	border-color: $small-button-border-color !important;
	background-color: $small-button-bgcolor !important;
	padding: 3px 2px 3px px !important;

}

.x-btn-inner-default-toolbar-small {
	font-size: 12px;
	padding:0 6px !important;
}

// medium button 
.x-btn-default-toolbar-medium{
	border-radius :0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	border-color: $medium-button-border-color !important;
	background-color: $medium-button-bgcolor !important;
	top: 0px !important; 
	padding: 4px 10px 4px 10px !important;
	
}

.x-btn-inner-default-toolbar-medium {
	font-size: 12px;
        padding:0 6px !important;
}


// large button 
.x-btn-default-toolbar-large{
	border-radius :0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
	border-color: $large-button-border-color !important;
	background-color: $large-button-bgcolor !important;
	top: 0px !important; 
	padding: 1px 10px 1px 10px !important;
	
}
.x-btn-inner-default-toolbar-large {
	font-size: 12px;
        padding:0 6px !important;
}
