/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */

/* 자주 쓰는 속성 값은 변수화 변수는 항상 prefix로 $standard를 붙일것*/
$standard-file-field-label-color: #ff8dcf;
$standard-form-field-label-color: yellow;
$standard-grid-cell-height: 30px;
$standard-grid-column-header-background: #EAEBF1 none !important;
$standard-grid-cell-font-size: 12px;

@function grid-column-header-line-size($font-size) {
  @return $font-size + 3px;
}
/* 그리드 data cell 에 들어가는 padding 계산*/
@function grid-column-header-cell-padding-top($cell-height, $font-size) {
  @return $cell-height/2 - $font-size/2;
}
/* component-xtype*/
div[id^="filefield-"][role="presentation"] {
  label {
    background-color: $standard-file-field-label-color;
  }
  input {
    background-image: none;
    background-color: gray;
  }
}

/* form-field내지는 field-container 공통 */
.fo-table-row-td {
  //background-color: $standard-form-field-label-color;
}

/* formpanel 내부 items */
.fo-table-row-td {
  /* 불필요한 checkbox, radiobox border 제거 */
  div[id^="checkboxfield-"][role="presentation"],
  div[id^="radiofield-"][role="presentation"] {
    [data-ref="bodyEl"] {
      border: none;
    }
  }
}

/* grid column header 속성 */
.x-grid-header-ct,.x-column-header {
  background: $standard-grid-column-header-background;

  span {
    //line-height: 12+3px
    line-height: grid-column-header-line-size($standard-grid-cell-font-size);
    font-size: $standard-grid-cell-font-size;
  }
}

.x-grid-view,[role="rowgroup"] {
  // 행속성
  .x-grid-item {

    // cell 속성
    .x-grid-cell-inner {
      // return cell-height/2 - cell-font-size/2
      padding-top: grid-column-header-cell-padding-top($standard-grid-cell-height, $standard-grid-cell-font-size);
      //height: $standard-grid-cell-height;
      font-size: $standard-grid-cell-font-size;
    }
  }
}
